* { padding: 0; margin: 0; }
html, body { overflow: hidden; }

body {
    font-family: "Open Sans", Tahoma, Verdana;
    font-size: 15px;
    line-height: 18px;
    background-color: #fff;
    color: #313131;
}

input, textarea, select {
    font-family: "Open sans", Tahoma, Verdana;
    font-size: 15px;
    padding: .5em;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}

select { 
    box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box; 
    -ms-box-sizing: content-box; 
}

button {
    text-transform: uppercase;
    color: #fff;
    background-color: #4376c7;
    border: 1px solid #4376c7;
    border-radius: 3px;
    cursor: pointer; 
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: 100;
}

.marginBottom { margin-bottom: 1em; }

#header { 
    background-color: #0076c0;
    height: 3em;
    padding: 0 1em;
}
#header h1 { 
    color: #fff;
    font-size: 1.75em;
    line-height: 1.75em;
    float: left;
    width: 3.25em;
    border-right: 1px solid #e0e0e0;
    background-image: url(/images/corplogo.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1.75em; 
}

#timeline {
    position: absolute;
    top: 3em;
    left: 0; 
    right: 20em;
    height: 3.5em;
    border-right: 1px solid #c0c0c0;
    overflow: hidden;
    padding: 0 1em;
    background-color: #e0dfe3;
    text-shadow: 0px 1px #fff;
    border-top: 1px solid #fff;
}
#timeline ol { list-style-type: none; width: 25000px; }
#timeline ol li { 
    display: inline-block; 
    height: 3.5em;
    line-height: 5.5em;
    width: 15em;
    position: relative;
}
#timeline ol li .yq {
    position: absolute;
    left: 0;
    top: .25em;
    line-height: 1em;
    font-size: 1em;
    white-space: nowrap;
}

#planChart {
    position: absolute; 
    top: 6.5em;
    left: 0; 
    right: 20em;
    bottom: 0;
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    background-color: #f0f0f0;
    overflow: scroll;
}
#planChart ol.projects { list-style-type: none;} 
#planChart ol.projects li.swimlane { 
    background-color: #fff; 
    border: 1px solid #c0c0c0; 
    margin: .5em; 
    padding: .5em;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 3px;
}
#planChart ol.projects li.swimlane.active {
    box-shadow: 0px 0px 10px #ff0;
    border: 1px solid #aaa;
}
#planChart ol.projects li.swimlane h3 {
    font-size: 1.25em;
    line-height: 2em;
    margin-left: 4px;
    margin-bottom: .5em;
    color: #888;
    font-weight: 400;
}
#planChart ol.projects li.swimlane.active h3 {
    color: #000;
}
#planChart ol.projects li.swimlane .row {
    border: 1px solid #808080;
    border-radius: 3px;
    margin-bottom: 1em;
    font-size: .875em;
    color: #000;
    background-color: #8c8;
}
#planChart ol.projects li.swimlane .row h5 {
    padding: 1em; 
    font-size: 1em;
    text-shadow: 0px 1px #ccc;
    font-weight: bold;
}

#options {
    position: absolute;
    top: 3em;
    right: 0;
    width: 18em;
    bottom: 0;
    background-color: #f6f6f6;
    padding: 0 1em;
    overflow: visible;
    border-top: 1px solid #fff;
}
#options .region { border-bottom: 1px solid #c0c0c0; padding: 1em 0; }
#options h3 {
    font-size: 1em;
    margin-bottom: 1em;
}
#options .collapseTab {
    border: 1px solid #c0c0c0;
    position: absolute;
    top: .5em;
    left: -1.5em;
    width: 1.5em;
    height: 2em;
    background-color: #f6f6f6;
    border-right-color: #f6f6f6;
    border-radius: 3px;
    background-image: url(/images/chevron-right.png); 
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
#options .collapseTab.expand {
    background-image: url(/images/chevron-left.png);
}
#options input, textarea, select { width: 16.5em; }
#options input:hover, #options textarea:hover { border: 1px solid #888; }
#options textarea { height: 16em; }

#options .scrollRegion { overflow-y: scroll; position: absolute; bottom: 0; width: 100%; top: 5.5em; }
