* { padding: 0; margin: 0; }
html, body { overflow: hidden; }

body {
    font-family: "Open Sans", Tahoma, Verdana;
    font-size: 15px;
    line-height: 18px;
    background-color: #fff;
    color: #313131;
}

input, textarea {
    font-family: "Open sans", Tahoma, Verdana;
    width: 16.5em;
    font-size: 15px;
    padding: .5em;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}

select { 
    font-family: "Open sans", Tahoma, Verdana;
    font-size: 15px;
    padding: .5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box; 
    -ms-box-sizing: content-box; 
    box-sizing: content-box; 
    width: 16.5em;
}

button {
    text-transform: uppercase;
    color: #fff;
    background-color: #4376c7;
    border: 1px solid #4376c7;
    border-radius: 3px;
    cursor: pointer; 
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: 100;
}

.marginBottom { margin-bottom: 1em; }

#header { 
    background-color: #513;
    height: 4em;
    padding: 0 1em;
    position: relative;
}
#header h1 { 
    color: #fff;
    font-size: 1.75em;
    line-height: 2.25em;
    float: left;
    border-right: 1px solid #e0e0e0;
    margin: 0 .25em 0 -.25em;
    padding-right: 1em;
}

#header ul#menuOptions { list-style-type: none; position: absolute; left: 10em; margin-left: 1em; }
#header ul#menuOptions li { display: inline-block; }
#header ul#menuOptions li.new { 
    background-image: url(/images/header-new.png); 
    background-repeat: no-repeat;
    background-position: left center;
    color: #fff;
    height: 4em;
    line-height: 4em;
    padding-left: 2.25em;
    cursor: pointer;
}

#header ul#repoLink { list-style-type: none; position: absolute; right: 0; font-size: .775em; }
#header ul#repoLink li { 
    text-align: right;
    line-height: 5em;
    position: relative;
    margin-right: 1em;
    background-image: url(/images/GitHub-Mark-Light-32px.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2.5em;
}
#header ul#repoLink li a { color: #fff; display: inline-block; margin: 0 1em; text-decoration: none;}

#timeline {
    position: absolute;
    top: 4em;
    left: 0; 
    right: 0;
    height: 3.5em;
    border-right: 1px solid #c0c0c0;
    overflow: hidden;
    padding: 0 1em;
    background-color: #e0dfe3;
    text-shadow: 0px 1px #fff;
    border-top: 1px solid #fff;
}
#timeline ol { list-style-type: none; width: 25000px; }
#timeline ol li { 
    display: inline-block; 
    height: 3.5em;
    line-height: 5.5em;
    width: 15em;
    position: relative;
    text-indent: -.5em;
}
#timeline ol li .yq {
    position: absolute;
    left: 0;
    top: .25em;
    line-height: 1em;
    font-size: 1em;
    white-space: nowrap;
}

#planChart {
    position: absolute; 
    top: 7.5em;
    left: 0; 
    right: 0;
    bottom: 0;
    padding-top: .5em;
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    background-color: #f0f0f0;
    overflow: scroll;
}
#planChart ol.projects { list-style-type: none;} 
#planChart ol.projects li.swimlane { 
    background-color: #fff; 
    border: 1px solid #c0c0c0; 
    margin: .25em .25em .75em .25em;
    padding: .25em .5em .25em .5em;
    border-radius: 3px;
}
#planChart ol.projects li.swimlane h3 {
    font-size: 1em;
    line-height: 2em;
    margin-left: 4px;
    margin-bottom: .5em;
    color: #000;
    font-weight: 400;
}
#planChart ol.projects li.swimlane .row {
    border-radius: 15px;
    margin-bottom: .25em;
    font-size: .875em;
    color: #333;
    background-color: #c0c0c0;
    cursor: pointer;
    overflow: hidden;
}
#planChart ol.projects li.swimlane .row h5 {
    padding: .25em 1em .25em 1em;
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

#options {
    position: absolute;
    top: 4em;
    right: 0;
    width: 18em;
    bottom: 0;
    background-color: #f6f6f6;
    padding: 0 1em;
    overflow: visible;
    border-top: 1px solid #fff;
    border-left: 1px solid #c0c0c0;
    transition: all .25s;
}
#options .region { padding: 1em 0; }
#options h2 { margin-bottom: 1em; }
#options h3 {
    font-size: 1em;
    margin-bottom: 1em;
}
#options .collapseTab {
    border: 1px solid #c0c0c0;
    position: absolute;
    top: .5em;
    left: -1.5em;
    width: 1.5em;
    height: 4em;
    background-color: #f6f6f6;
    border-right-color: #f6f6f6;
    border-radius: 3px;
    background-image: url(/images/chevron-right.png); 
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
#options .collapseTab.expand {
    background-image: url(/images/chevron-left.png);
}
