* { padding: 0; margin: 0; }
html, body { overflow: hidden; }

body {
    font-family: "Open Sans", Tahoma, Verdana;
    font-size: 15px;
    line-height: 18px;
    background-color: #fff;
    color: #313131;
}

input, textarea, select {
    font-family: "Open sans", Tahoma, Verdana;
    font-size: 15px;
    padding: .5em;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}

select { 
    box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box; 
    -ms-box-sizing: content-box; 
}

button {
    text-transform: uppercase;
    color: #fff;
    background-color: #4376c7;
    border: 1px solid #4376c7;
    border-radius: 3px;
    cursor: pointer; 
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: 100;
}

.marginBottom { margin-bottom: 1em; }

#header { 
    background-color: #0076c0;
    height: 3em;
    padding: 0 1em;
}
#header h1 { 
    color: #fff;
    font-size: 1.75em;
    line-height: 1.75em;
    float: left;
    border-right: 1px solid #e0e0e0;
    margin: 0 .25em 0 -.25em;
    padding-right: 1em;
}

#header ul { list-style-type: none; }
#header ul#menuOptions li { display: inline-block; }
#header ul#menuOptions li.new { 
    background-image: url(/images/header-new.png); 
    background-repeat: no-repeat;
    background-position: left center;
    color: #fff;
    height: 3em;
    line-height: 3em;
    padding-left: 2.25em;
}

#header #userStatus {
    position: absolute;
    right: 1em;
    height: 2.25em;
    top: 0;
    color: #fff;
    padding: .5em 1em 0 .5em;
    cursor: pointer;
    background-image: url(/images/small-arrow-down.png);
    background-position: right center;
    background-repeat: no-repeat;
}
#header #userStatus.active { 
    background-color: #0096d0;
}
#header #userStatus p span {
    background-color: #800088;
    color: #fff;
    font-size: .875em;
    padding: .25em;
    display: inline-block;
    margin-left: .5em;
}

#userStatusMenu {
    display: none;
    box-shadow: 0px 0px 10px #ccc;
    position: absolute;
    top: 2.25em;
    right: .5em;
    width: 15em;
    height: 9.5em;
    border: 1px solid #888;
    z-index: 999;
    background-color: #fff;
}
#userStatusMenu h3 {
    border-bottom: 1px solid #888;
    line-height: 3em;
    padding: 0 .5em;
    margin-bottom: .25em;
}
#userStatusMenu h3 span {
    background-color: #800080;
    color: #fff;
    margin-right: .5em;
    font-size: .875em;
    padding: .25em;
}
#userStatusMenu p {
    font-size: .875em;
    line-height: 3em;
    padding: 0 .5em;
}
#userStatusMenu p a {
    text-decoration: none;
    display: block;
    padding: 0 .5em;
    color: #111;
}
#userStatusMenu p a:hover {
    background-color: #eeeeee;
}

#timeline {
    position: absolute;
    top: 3em;
    left: 0; 
    right: 20em;
    height: 3.5em;
    border-right: 1px solid #c0c0c0;
    overflow: hidden;
    padding: 0 1em;
    background-color: #e0dfe3;
    text-shadow: 0px 1px #fff;
    border-top: 1px solid #fff;
}
#timeline ol { list-style-type: none; width: 25000px; }
#timeline ol li { 
    display: inline-block; 
    height: 3.5em;
    line-height: 5.5em;
    width: 15em;
    position: relative;
    text-indent: -.5em;
}
#timeline ol li .yq {
    position: absolute;
    left: 0;
    top: .25em;
    line-height: 1em;
    font-size: 1em;
    white-space: nowrap;
}

#planChart {
    position: absolute; 
    top: 6.5em;
    left: 0; 
    right: 20em;
    bottom: 0;
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    background-color: #f0f0f0;
    overflow: scroll;
}
#planChart ol.projects { list-style-type: none;} 
#planChart ol.projects li.swimlane { 
    background-color: #fff; 
    border: 1px solid #c0c0c0; 
    margin: .25em .25em .75em .25em;
    padding: .25em .5em .25em .5em;
    border-radius: 3px;
}
#planChart ol.projects li.swimlane h3 {
    font-size: 1em;
    line-height: 2em;
    margin-left: 4px;
    margin-bottom: .5em;
    color: #000;
    font-weight: 400;
}
#planChart ol.projects li.swimlane .row {
    border-radius: 15px;
    margin-bottom: .25em;
    font-size: .875em;
    color: #333;
    background-color: #becede;
    cursor: pointer;
    overflow: hidden;
}
#planChart ol.projects li.swimlane .row h5 {
    padding: .25em 1em .25em 1em;
    font-size: 1em;
    white-space: nowrap;
    font-weight: bold;
    text-overflow: elipsis;
}

#options {
    position: absolute;
    top: 3em;
    right: 0;
    width: 18em;
    bottom: 0;
    background-color: #f6f6f6;
    padding: 0 1em;
    overflow: visible;
    border-top: 1px solid #fff;
    transition: all .25s;
}
#options .region { border-bottom: 1px solid #c0c0c0; padding: 1em 0; }
#options h3 {
    font-size: 1em;
    margin-bottom: 1em;
}
#options .collapseTab {
    border: 1px solid #c0c0c0;
    position: absolute;
    top: .5em;
    left: -1.5em;
    width: 1.5em;
    height: 2em;
    background-color: #f6f6f6;
    border-right-color: #f6f6f6;
    border-radius: 3px;
    background-image: url(/images/chevron-right.png); 
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
#options .collapseTab.expand {
    background-image: url(/images/chevron-left.png);
}
#options input, textarea, select { width: 16.5em; }
#options input:hover, #options textarea:hover { border: 1px solid #888; }
#options textarea { height: 16em; }

#options .scrollRegion { overflow-y: scroll; position: absolute; bottom: 0; top: 5.5em; }
